body.dark {
    background-color: #292c35 !important;
}
/* optional */
body.dark h1 {
    color: #fff !important;
}

a {
    text-decoration: none;
}

body.dark th {
    color: #fff !important;
}

body.dark td {
    color: #fff !important;
}

body.dark a {
    color: #fff !important;
}

body.dark input {
    color: #fff !important;
}

body.dark label {
    color: #fff !important;
}

body.dark ::placeholder {
    color: #fff !important;
}

/* end optional */
body.dark input {
    background-color: #292c35 !important;
}

.checkbox {
    display: none !important;
}

.label {
    background-color: #111;
    float: right;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    border-radius: 50px;
    display: flex;
    height: 17px;
    width: 41px;
}

.switch {
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .switch {
    transform: translateX(24px);
}
/* dark mode end */
.success,
.error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

.button {
    float: right;
}
